.login-wrapper {
  height: 100vh; /* Make the wrapper take up the full viewport height */

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-card {
  width: 300px; /* Adjust the width of the card as needed */
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 30vh;
  border-radius: 10px;
}